<div class="container-fluid LeGarage-homepage">
	<div class="LeGarage-homepage--banner">
		<h1> Marketplace entre des CTO et des porteurs de projet </h1>
		<p> Nous souhaitons mettre en contact des personnes qui ont un projet et des tech capable de les réaliser<br>Relançons le mythe du "garage"!</p>
		<p class="moji"><%= Emoji.find_by_alias("rocket").raw %></p>
		<button class="LeGarage--button LeGarage--button-default"> Voir les projets </button>
	</div>
</div>