.LeGarage-user {
	padding-top: 90px;
	.LeGarage-user--warning {
		padding: 20px;
		background-color: #F55668;
		color: #ffffff;
		border: 1px solid darken(#F55668, 3%);
		border-radius: 4px;
		margin: 10px 15px;
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		.LeGarage--special-link {
			text-decoration: underline;
			color: #ffffff;
		}
	}
	.LeGarage-user--sidebar {
		background-color: #F1F1F1;
		padding: 15px;
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
		float: left;
	}
	.LeGarage--button-user {
		float: left;
		margin-top: 15px;
	}
	.LeGarage--button-user--modify {
		float: left;
		margin-top: 15px;
		background-color: #5ECFD9;
	}
}

.LeGarage-user--badge {
	padding: 5px;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
	background-color: #00c6ff;
}